/*   
Description: Basic Bootstrapped theme
Author: TheCellarRoom
Author URI: http://www.thecellarroom.net
*/
body {background:#000;color:#000;
            font-family:Raleway,Tahoma,Arial,Verdana,Sans-Serif;font-size:14px;
            padding:0px;margin:0px;
            }
#wrap {margin-left:auto;margin-right:auto;max-width:960px;background-color: #fff;}
.site-content { padding: 0px 2px 0px 2px; margin: 0px 1px 0px 1px;}
nav{background-color:#000;}
article{float:left;clear:left;}
aside {float:right;}
aside ul {list-style-type: none; margin:0px; padding:5px;}
footer {clear: both;margin:0 auto auto 1em;text-align:center;margin-top:20px;}
blockquote {padding-left: 10px;display: block;background: #f5f5fc;border: 1px solid #cecece;}
.aligncenter{display: block;margin-left: auto;margin-right: auto;}
.alignleft{float:left;}
.alignright{float:right;}
hr{float:none; clear:both; width:95%; margin:5px auto;}
td{cellpadding:2px;}
.brandsmall {display:none;}

@media (max-width: 480px) {
#wrap {margin-top:10px;}
.navbar .brand { display:none; }
.navbar .brandsmall 
{
display: block;
float: left;
padding: 10px 20px 10px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
color: 
#777777;
text-shadow: 0 1px 0 
#ffffff;}
}
